<!-- filepath: /C:/Users/Administrator/Documents/Ontech/Software-Design-and-Analysis/project/techwave/accounts/templates/registration/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Logout</button>
            </form>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a class="btn btn-primary" type="submit" href="{% url 'accounts:signup' %}">Register here</a><br>
            <a class="btn btn-secondary" href="{% url 'catalog:item_list' %}">Cancel</a>
        {% endif %}
    </div>
</body>
</html>