{% extends "catalog/base.html" %}

{% block title %}
    Catalog - Edit Item
{% endblock %}

{% block main %}
    <div class="container-fluid px-4 py-4">
        
        <!-- Page heading -->
        <h3 class="mb-4">
            Edit Item
        </h3>

        <!-- Form to edit items -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.image.value %}
            <div class="mb-3">
                <img src="{{ form.image.value.url }}" class="img-thumbnail" alt="{{ form.name.value }}">
            </div>
            {% endif %}
            {{ form.as_p }}
            <!-- Navigation buttons -->
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{% url 'catalog:item_list' %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
{% endblock %}
