{% extends "catalog/base.html" %}

{% block title %}
    Catalog
{% endblock %}

{% block main %}
    <div class="container-fluid px-4 py-4">
        
        <!-- Page heading -->
        <h3 class="mb-4">All items</h3>

        <!-- Button to add new items -->
        <a class="btn btn-primary" href="{% url 'catalog:item_create' %}" role="button">
            Add an item
        </a>

        <!-- Table of items in database -->
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in item_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.stock }}</td>
                        <td>
                            <a href="{% url 'catalog:edit_item' item.id %}">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'catalog:delete_item' item.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Number of items in database -->
        <p class="mt-3">
            <strong>{{ item_list|length }}</strong> item{{ item_list|pluralize }} in the database.
        </p>

    </div>
{% endblock %}
