{% extends "catalog/base.html" %}

{% block title %}
    Catalog - Add item
{% endblock %}

{% block main %}
    <div class="container-fluid px-4 py-4">
        
        <!-- Page heading -->
        <h3 class="mb-4">
            Add an item
        </h3>

        <!-- Form to add items -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <!-- Button to submit the form -->
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'catalog:item_list' %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
{% endblock %}
