{% extends "catalog/base.html" %}

{% block title %}
    Catalog
{% endblock %}

{% block main %}
    <div>
        <h3>Add an item</h3>
        <a href="{% url 'catalog:item_create' %}">
            Click here to add an item.
        </a>

        <h3>All items</h3>
        {% for item in item_list %}
            <p>
                Name: {{ item.name }} - Price: ${{ item.price }} - Stock: {{ item.stock }}
                <a href="{% url 'catalog:edit_item' item.id %}" class="btn btn-primary">Edit</a>
            </p>
        {% empty %}
            <p>No items have been added yet.</p>
        {% endfor %}
    </div>
{% endblock %}
